<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Algorithms</title>
</head>
<body>
<h1>Choose algorithm: </h1>
<form th:action="@{/algorithms/ENCODE}" method="post">
    <br><br><h2>Encoding</h2>
    <p>Enter message and choose operation algorithm =></p>
    <input type="text" name="input"/><br/><br/>
    <input type="submit" value="CAESAR" name="algorithm"/><br/>
    <input type="submit" value="MORSE" name="algorithm"/><br/>
    <input type="submit" value="VIGENERE" name="algorithm"/><br/>
    <input type="submit" value="CAESAR_OVER_VIGENERE" name="algorithm"/><br/>
    <input type="submit" value="TRANSLATE" name="algorithm"/><br/>
</form>

<form th:action="@{/algorithms/DECODE}" method="post">
    <br><br>
    <p>Enter message and choose operation algorithm =></p>
    <input type="text" name="input"/><br/><br/>
    <input type="submit" value="CAESAR" name="algorithm"/><br/>
    <input type="submit" value="MORSE" name="algorithm"/><br/>
    <input type="submit" value="VIGENERE" name="algorithm"/><br/>
    <input type="submit" value="CAESAR_OVER_VIGENERE" name="algorithm"/><br/>
    <input type="submit" value="TRANSLATE" name="algorithm"/><br/>
</form>
<h2 th:text="${result}"></h2>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
