<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Audit</title>
</head>
<body>
<h1>Audit Menu</h1>
<br>
<h2>Encoding usecase</h2>

<p>Choose audit operation: </p>

<form th:action="@{/audit/encoding/count-encoding-inputs}" method="post"><input type="submit" value="COUNT_ENCODING_INPUTS"
                                                                       name="operation"/><br/>
</form>
<form th:action="@{/audit/encoding/count-codings-by-date}" method="post"><input type="submit"
                                                                                value="COUNT_CODINGS_BY_DATE"
                                                                                name="operation"/><br/>
</form>
<form th:action="@{/audit/encoding/count-codings-by-date}" method="post"><input type="submit"
                                                                                value="COUNT_CODINGS_BY_DATE"
                                                                                name="operation"/><br/></form>

<br>
<h2>Decoding usecase</h2>
<form th:action="@{/audit/decoding/find-most-popular-codec}" method="post"><input type="submit"
                                                                                  value="FIND_MOST_POPULAR_CODEC"
                                                                                  name="operation"/><br/></form>
<form th:action="@{/audit/decoding/find-most-popular-codec}" method="post"><input type="submit"
                                                                                  value="FIND_MOST_POPULAR_CODEC"
                                                                                  name="operation"/><br/>
</form>
<h2 th:text="${result}"></h2>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
