<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>History Menu</title>
</head>
<body>
<h1>History Menu</h1>
<form th:action="@{/history/show-history}" method="post">
    <input type="submit" value="SHOW_HISTORY" name="operation"/><br/>
</form>
<form th:action="@{/history/remove-last}" method="post">
    <input type="submit" value="REMOVE_LAST_ELEMENT" name="operation"/><br/>
</form>
<form th:action="@{/history/cleam-history}" method="post">
    <input type="submit" value="CLEAN_HISTORY" name="operation"/><br/>
</form>

<h2 th:text="${result}"></h2>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
