<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Menu</title>
</head>
<body>
<h1>Main Menu</h1>
<p>Choose operation: </p>
    <a th:href="@{/algorithms/DECODE}">DECODE</a>
    <a th:href="@{/algorithms/ENCODE}">ENCODE</a>
    <a th:href="@{/audit}">AUDIT</a>
    <a th:href="@{/history}">HISTORY</a>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>